<th:block xmlns:th="http://www.thymeleaf.org">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="/home">Почетна</a></li>
                    <li>Профил</li>
                </ol>
                <h2 th:text="${client.korisnik.getName() + ' ' + client.korisnik.getSurname()}"></h2>

            </div>
        </section><!-- End Breadcrumbs -->


        <section class="search-sec ">
            <div class="container">
                <form method="POST" action="#">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row justify-content-center align-items-center">

                                <div class="col-lg-3 col-md-3 col-sm-12 p-1">
                                    <select class="form-select search-slt">
                                        <option>Select Drop City</option>
                                        <option>Example one</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-1">
                                    <select  id="cityNameList" name="city" class="form-select search-slt">
                                        <option value="" disabled selected>Избери град</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="button" class="btn btn-primary wrn-btn"><i class="fa fa-search"></i> Пребарај</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <div class="container rounded bg-white mt-5">

            <form class="row md-4" th:method="POST" th:action="@{'/update/{id}/client' (id=${client?.getId()})}">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img th:if="${client.getSex() == 'Male'}" class="rounded-circle mt-5" width="150px"  src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <img th:if="${client.getSex() == 'Female'}" class="rounded-circle mt-5" width="150px"  src="assets/img/femaleProfile.png">
                        <span class="font-weight-bold" th:text="${client.korisnik.getUsername()}"></span>
                        <span class="text-black-50" th:text="${client.korisnik.getEmail()}"></span>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Поставки за профил</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Име</label><input name="name" type="text" class="form-control" th:value="(${client.korisnik.getName()})"></div>
                            <div class="col-md-6"><label class="labels">Презиме</label><input name="surname" type="text" class="form-control" th:value="(${client.korisnik.getSurname()})"></div>
                            <div class="col-md-12 mt-4"><label class="labels">Email</label><input name="email" type="text" class="form-control" th:value="(${client.korisnik.getEmail()})"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Датум на раѓање: </label>
                                <input type="date" name="dateOfBirth" class="form-control" th:value="${client.getDateOfBirth()}"></div>


                            <div id="regLabel2" class="col-md-12 mb-4">

                                <h6 class="mb-2 pb-1 mt-4">Пол: <span th:text="${client.getSex()}"></span></h6>

                                <div class="form-check form-check-inline">
                                    <input
                                            class="form-check-input"
                                            type="radio"
                                            name="sex"
                                            id="femaleGender2"
                                            value="Female"
                                            th:checked="${client.getSex()} == Female"
                                    />
                                    <label class="form-check-label" for="femaleGender2">Женски</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input
                                            class="form-check-input"
                                            type="radio"
                                            name="sex"
                                            id="maleGender2"
                                            value="Male"
                                            th:checked="${client.getSex()} == Male"
                                    />
                                    <label class="form-check-label" for="maleGender2">Машки</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input
                                            class="form-check-input"
                                            type="radio"
                                            name="sex"
                                            id="otherGender2"
                                            value="Other"
                                            th:checked="${client.getSex()} == Other"
                                    />
                                    <label class="form-check-label" for="otherGender2">Друго</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="row mt-2">
                            <div class="col-md-9"><label class="labels">Број на склучени договори:</label>
                                <div class="form-outline">

                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                <div class="mt-5 mb-4 text-center"><button class="btn btn-primary profile-button" type="submit">Зачувај Промени</button></div>
            </form>

        </div>
        </div>
        </div>


</th:block>